<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Add Emoployee</title>
	</head>
	<style>
	.addemp {
		width: 350px;
		margin: 0 auto;
		margin-top : 120px;
		font-family: sans-serif;
		}
		.addemp h1 {
		text-align: left;
		color: #4d4d4d;
		font-size: 40px;
		padding: 20px 0 20px 0;
		}
		.addemp input[type="text"] {
		width: 100%;
		padding: 15px;
		border: 1px solid #dddddd;
		margin-bottom: 15px;
		box-sizing:border-box;
		}

		.addemp [type="submit"] {
		width: 100%;
		padding: 15px;
		background-color: #2980B9;
		border: 0;
		box-sizing: border-box;
		cursor: pointer;
		font-weight: bold;
		color: #ffffff;
		margin-top: 40px;
		margin-bottom: -20px;
		}

		.addemp [type="submit"]:hover {
			background-color: #154360;
			color: white;
		}
		hr.line {
			border-top: 1.5px solid #2980B9;
		margin-bottom: 30px;
		margin-top: -40px;
		}


		.dropdown {
			position: relative;
		font-family: sen-serif;
			width: 100%;
		padding: 12px;
		margin-bottom: 15px;
		border: 1px solid #dddddd;
		box-sizing:border-box;
		}

		.dropdown select {
		display: none;
		}

		.select-selected {
		background-color: DodgerBlue;
		}

		.select-selected:after {
		position: absolute;
		content: "";
		top: 14px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: #fff transparent transparent transparent;
		}

		.select-selected.select-arrow-active:after {
		border-color: transparent transparent #fff transparent;
		top: 7px;
		}

		.select-items div,.select-selected {
		color: #ffffff;
		padding: 8px 16px;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
		}

		.select-items {
		position: absolute;
		background-color: DodgerBlue;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
		}

		.select-hide {
		display: none;
		}

		.select-items div:hover, .same-as-selected {
		background-color: rgba(0, 0, 0, 0.1);
		}
	</style>
	<body>
		<div class="addemp">
			<h1>Add Employee</h1>
			<hr class="line">
      <form action="" method="POST">
          <input type="text" placeholder="Enter Name" name="name" id="name" required>
          <input type="text" placeholder="Enter Phone" name="phone" id="phone" required>
          <input type="text" placeholder="Enter Address" name="address" id="address" required>

          <select class="dropdown" name="gender" id="gender" required>
            <option value="">Select Gender:</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>

          <select class="dropdown" name="designation" id="designation" required>
            <option value="">Select Designation:</option>
            <option value="manager">Manager</option>
            <option value="accountant">Accountant</option>
            <option value="executive">Executive</option>
            <option value="supervisor">Supervisor</option>
          </select>
          <hr>

          <input type="submit" class="addbtn" value="Add">
      </form>
		</div>
	</body>
</html>
