<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Employee Profile</title>
	</head>
	<style>
	.myprofile {
		width: 350px;
		margin: 0 auto;
		margin-top : 170px;
		font-family: sans-serif;
		}
		.myprofile h1 {
		text-align: left;
		color: #4d4d4d;
		font-size: 40px;
		padding: 20px 0 20px 0;
		}

		.myprofile input[type=submit] {
		width: 100%;
		padding: 15px;
		background-color: #2980B9;
		border: 0;
		box-sizing: border-box;
		cursor: pointer;
		font-weight: bold;
		color: #ffffff;
		margin-top: 40px;
		margin-bottom: -20px;
		}

		.myprofile input[type=submit]:hover {
			background-color: #154360;
			color: white;
		}
		hr.line {
			border-top: 1.5px solid #2980B9;
		margin-bottom: 30px;
		margin-top: -40px;
		}

	</style>
	<body>
		<div class="myprofile">
			<h1>My Profile</h1>
			<hr class="line">
			<form action="" method="POST">
        <table cellspacing = 10px>
          <tr>
            <td><lebel style="font-size: 18px;">Id: </lebel></td>
            <td><span style="font-size: 25px;">056322662</span></td>
          </tr>
          <tr>
            <td><lebel style="font-size: 18px;">Name: </lebel></td>
            <td><span style="font-size: 25px;">Thomas Herdy</span></td>
          </tr>
          <tr>
            <td><label style="font-size: 18px;">Phone:  </lebel></td>
            <td><span style="font-size: 22px;">0215615662</span></td>
          </tr>
          <tr>
            <td><label style="font-size: 18px;">Phone:  </lebel></td>
            <td><span style="font-size: 22px;">My address</span></td>
          </tr>
          <tr>
            <td><label style="font-size: 18px;">Gender:  </lebel></td>
            <td><span style="font-size: 22px;">Male</span></td>
          </tr>
          <tr>
            <td><label style="font-size: 18px;">Designation:  </lebel></td>
            <td><span style="font-size: 22px;">Manager</span></td>
          </tr>
        </table><br><br>
        <hr>
        <input type="submit" name="option" class="okbtn" value="Ok">
			</form>
		</div>
	</body>
</html>
