<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Update profile</title>
	</head>
	<style>
	.updateprofile {
	width: 350px;
	margin: 0 auto;
	margin-top : 120px;
	font-family: sans-serif;
	}
	.updateprofile h1 {
	text-align: left;
	color: #4d4d4d;
	font-size: 40px;
	padding: 20px 0 20px 0;
	}
	.updateprofile input[type="text"] {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
	}

	.updateprofile [type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #2980B9;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	margin-top: 40px;
	margin-bottom: -20px;
	}

	.updateprofile [type="submit"]:hover {
		background-color: #154360;
		color: white;
	}
	hr.line {
		border-top: 1.5px solid #2980B9;
	margin-bottom: 30px;
	margin-top: -40px;
	}

	</style>
	<body>
		<div class="updateprofile">
			<h1>Update Profile</h1>
			<hr class="line">
      <form action="" method="POST">
        <table>
          <tr>
            <td><lebel style="font-size: 18px;">Id: </lebel></td>
            <td><span style="font-size: 25px;">056322662</span></td>
          </tr>
          <tr>
            <td><lebel style="font-size: 18px;">Name: </lebel></td>
            <td><span style="font-size: 25px;">Thomas Herdy</span></td>
          </tr>
        </table><br><br>
          <input type="text" placeholder="Enter Phone" name="phone" id="phone" required>
          <input type="text" placeholder="Enter Address" name="address" id="address" required>
          <hr>
          <button type="submit" class="updatebtn">Update</button>
      </form>
    </div>
	</body>
</html>
